[submodule "external/PyTorch-AutoNEB"]
	path = external/PyTorch-AutoNEB
	url = https://github.com/mflodzinski/PyTorch-AutoNEB
[submodule "external/dnn-mode-connectivity"]
	path = external/dnn-mode-connectivity
	url = https://github.com/mflodzinski/dnn-mode-connectivity
[submodule "external/external/git-rebasin"]
	path = external/external/git-rebasin
	url = https://github.com/samuela/git-re-basin.git
[submodule "external/git-rebasin"]
	path = external/git-rebasin
	url = https://github.com/samuela/git-re-basin.git
[submodule "external/cycle-consistent-model-merging"]
	path = external/cycle-consistent-model-merging
	url = https://github.com/mflodzinski/cycle-consistent-model-merging.git
[submodule "external/sinkhorn-rebasin"]
	path = external/sinkhorn-rebasin
	url = https://github.com/mflodzinski/sinkhorn-rebasin.git
