[submodule "external/PyTorch-AutoNEB"]
	path = external/PyTorch-AutoNEB
	url = https://github.com/mflodzinski/PyTorch-AutoNEB
[submodule "external/dnn-mode-connectivity"]
	path = external/dnn-mode-connectivity
	url = https://github.com/mflodzinski/dnn-mode-connectivity
[submodule "external/git-rebasin"]
	path = external/git-rebasin
	url = https://github.com/mflodzinski/git-re-basin.git
[submodule "external/cycle-consistent-model-merging"]
	path = external/cycle-consistent-model-merging
	url = https://github.com/mflodzinski/cycle-consistent-model-merging.git
[submodule "external/sinkhorn-rebasin"]
	path = external/sinkhorn-rebasin
	url = https://github.com/mflodzinski/sinkhorn-rebasin.git
[submodule "external/pytorch-vgg-cifar10"]
	path = external/pytorch-vgg-cifar10
	url = https://github.com/mflodzinski/pytorch-vgg-cifar10.git
[submodule "external/open_lth"]
	path = external/open_lth
	url = https://github.com/mflodzinski/open_lth.git
